[2020-09-28 07:59] jayvdb opened #1 "Failure in non-poetry project"
[code]

[2020-09-28 20:04] enpaul commented on #1
Thank you for the the error report! The plugin is intended to be used with projects that use poetry for their dependency management, but you're correct that it should also handle being installed to a non-poetry project more gracefully. I think adding a check that logs a warning and then skips the rest of the plugin's dependency processing would be a bit more user friendly.

[2020-09-29 02:32] jayvdb commented on #1
tox plugins should not assume they are installed in a venv dedicated to a single project.  tox is usually installed outside any venv, as it creates the venvs for any project.
Adding a check would be great.  A warning isnt appropriate if the project isnt using poetry; even a notice would be superfluous.  A debug level log entry would suffice.

[2020-09-29 03:07] enpaul commented on #1
That makes a lot of sense. I always install tox to my project environment, rather than the user/system python, to avoid dependency conflicts so I didn't run into this problem, but you're correct that it's a very valid use case. Adding a debug notice is definitely the proper way to handle it. Thank you for clarifying this, I'll make a patch for it.

[2020-09-29 03:36] enpaul commented on #1
@jayvdb When you have a moment, could you confirm that [v0.2.2](https://github.com/enpaul/tox-poetry-installer/releases/tag/0.2.2) fixes this for you? If so then I can close this issue

[2020-09-29 03:50] enpaul opened #2 "Replace "poetry" dependency with "poetry-core""
[poetry-core](https://github.com/python-poetry/poetry-core/) is a project to produce a lighter weight version of core poetry functionality specifically to better support PEP-517 build systems.

However (based on reading the published goals as of the 1.0 RC1 release) I believe it will also contain all the functionality necessary for this plugin to function.

Using the `poetry-core` package instead

[2020-09-29 03:54] enpaul opened #3 "Properly integrate with Tox logging/reporter functionality"
I suspect that this plugin is not using Tox's logging/reporter functionality properly. I suspect this because I haven't actually looked at how to do it properly. The current usage of Tox's `reporter` module in the plugin is trivially functional, which is all I needed, but it should be updated to log to the proper environment logger.

I need to take a closer look at Tox's logging/reporter functiona

[2020-09-29 04:04] enpaul opened #4 "Support the "extras" setting for Tox env configs"
The [`extras`](https://tox.readthedocs.io/en/latest/config.html#conf-extras) setting allows extras of the project package to be installed to a specific Tox environment. Poetry supports extras, Tox supports extras, there's no reason this plugin can't too.

The plugin's current behaviour when installing project package dependencies is to install all dependencies of the project package, regardless of

[2020-09-29 04:10] enpaul opened #5 "Logging warnings when unsupported config options are set"
There are a number of options Tox provides that are fairly specific to configuring how Tox interacts with Pip. These options have no usage when installing using Poetry because Poetry replaces the functionality these options are used to configure (there are exceptions however, see #4).

When the `require_locked_deps = true` setting is set for a Tox environment the plugin should log a warning for ea

[2020-09-29 04:23] enpaul opened #6 "Mitigate "UNSAFE_DEPENDENCIES" issue"
This issue is related to finding a work around to python-poetry/poetry#1584. If the noted functionality is removed so that the "unsafe" packages can be installed to the lockfile then no further work is needed then this issue can be closed. However in the meantime a workaround is needed.

Currently the behaviour of the plugin when encountering a dependency Poetry classifies as unsafe is to a) log a

[2020-09-29 05:47] jayvdb commented on #1
[code]

[2020-09-29 20:58] enpaul opened #7 "Case sensitive dependency names"
Dependencies in the lockfile are always stored in lowercase, however the plugin does not enforce this when taking in the dependency list, like both pip and poetry do.

The plugin should convert dependency names to lowercase before trying to find them in the lockfile.

[2020-09-29 23:02] #1 closed

[2020-09-29 23:02] #7 closed

[2020-09-30 02:02] enpaul commented on #1
Sorry, didn't realize that commit would close the issue. If the problem continues please feel free to re-open the issue and I'll try to get a better grasp on what's breaking.

[2020-09-30 07:44] jayvdb opened #8 "Include tests in PyPI sdist"
In order to submit this for inclusion in openSUSE package collection, I need to run the tests offline in the isolated rpmbuild workers.  The first step for that is getting the tests into the tarball.

This can be done using a MANIFEST.in, but there are newer solutions depending on how the sdist is built and uploaded to PyPI.

e.g. dephell automatically adds tests to sdist if they are below a certa

[2020-09-30 07:50] jayvdb commented on #1
No worries.  This bit is working now.  Much appreciated.

[2020-09-30 07:52] jayvdb commented on #8
The test suite is a bit limited atm, not surprising as it is still new.

When expanding them, it would be great if a "network" mark was used on all tests which require network, so that I can run `pytest -k not network` to exclude them.

[2020-10-11 22:11] enpaul commented on #2
This is blocked for the moment, on several components:
* poetry-core does not support reading the lockfile (python-poetry/poetry-core#83)
  * Required for the locker, locked repository, and puzzle provider
* poetry-core does not support environment installation
  * Required IO, poetry venv, and pip installer

[2020-10-12 00:15] #8 closed

[2020-10-20 02:45] DustinMoriarty commented on #2
I have been confused about why poetry should be mentioned at all in the tox.ini.  Why not just let tox handle the package as usual?

Do we really need the lock file to be called during test? I don't refer to requirements.txt in a tox.ini, but maybe that is a matter of perspective.

[2020-10-21 18:49] johnthagen opened #12 "Update README about supported poetry versions"
The README says https://github.com/enpaul/tox-poetry-installer/#known-drawbacks-and-problems

But later it says https://github.com/enpaul/tox-poetry-installer/#developing

Also #10 references:

Does the README need to be updated/clarified? It wasn't clear if this works on the latest poetry (1.1.3) from reading it.

[2020-10-21 19:48] enpaul commented on #12
Excellent point, these should be clarified.

The first note from the "known drawback" section is no longer accurate as of version 0.2.4 and should be removed from the readme. That's an oversight on my part.

The second note from the "developing" section refers to the version of poetry required for developing the project, not the actual dependency of the package. The package's poetry dependency is

[2020-10-21 20:01] johnthagen opened #13 "Consider documenting how to use tox requires field to add plugin dependency"
You could potentially document how to use the `[tox]` `requires` field to make installation of this plugin simpler. That would allow users to keep it out of the `dev-dependencies`.

For an example of how this works, see: https://github.com/sinoroc/tox-poetry-dev-dependencies#installation

[2020-10-21 20:23] johnthagen opened #14 "Allow installing all locked dev-dependencies easily into a tox env"
The way many of the projects I work on are setup with tox env's is to specify and lock all dev-dependencies, and then install them into each `tox` environment that is used for development.

From the `pip-tools` world, this looks like this:

- https://github.com/johnthagen/python-blueprint/blob/master/dev-requirements.txt
- https://github.com/johnthagen/python-blueprint/blob/4915045695df6aae3919aec

[2020-10-22 03:46] enpaul commented on #14
Thanks for the feature suggestion! On principle I'm not opposed to adding this, but as you note the tox-poetry-dev-dependencies plugin already has this functionality. Is there a reason why this plugin and the tox-poetry-dev-dependencies plugin couldn't be used in tandem to support both feature sets?

[2020-10-22 03:58] enpaul commented on #13
I'm not sure I would want to highlight this installation method. In fact I've considered having the plugin raise a warning if the `requires` parameter is found in the config, as it fundamentally breaks installing from a lockfile. The `requires` parameter uses the pip-based tox installation backend which means that any packages it specifies (and their dependencies) are subject to the conflict issue

[2020-10-22 11:14] johnthagen commented on #14
The main issue I'm running into is that poetry >= 1.1.0 lockfile sytax is not supported in all cases yet: https://github.com/sinoroc/tox-poetry-dev-dependencies/issues/48 so we can't actually use the lockfile with our projects, only reading from `pyproject.toml` to get the `dev-dependencies`. But it seems like one option is to wait for `poetry-core` to mature some more so that plugins don't need t

[2020-10-22 11:17] johnthagen commented on #13
This is a very good point (and probably worth mentioning in the docs for others!). Originally I had like the `requires` method because it cleaned up my Poetry environment (the tox plugin is only needed for tox, after all). But now as I think this through some more, if the goal is to have **all** dependencies locked, then it would be safer to also lock the `tox` plugin.

So perhaps the opposite of

[2020-10-22 18:10] enpaul commented on #12
@johnthagen Is [this updated note](https://github.com/enpaul/tox-poetry-installer#developing) clear enough do you think for the "developing" section? I removed the obsolete note from the "known drawbacks" section.

[2020-10-22 18:15] enpaul commented on #5
The `requires` option should be added to this list. See #13 for explanation of why the `requires` isn't the best idea.

That issue deals covers adding documentation for users about why not to use `requires`, but there should also be a warning-level log message raised when the `requires` config option is present. Unlike the other options mentioned above, the `requires` config option is a config-glo

[2020-10-22 18:16] enpaul commented on #14
Makes sense to me! I'll add this to the planned feature list

[2020-10-22 21:31] johnthagen commented on #12
Yes, that looks good to me!

[2020-10-23 00:07] #12 closed

[2020-10-23 01:09] enpaul commented on #6
Thinking about this more: this should probably be a configurable setting. Some bool setting like `enable_unsafe_deps = true|false` to dis/allow this behaviour for a specific testenv. Not sure yet what the default should be, but I'm leaning towards defaulting to `true`.

[2020-10-23 01:10] #4 closed

[2020-10-23 11:34] johnthagen commented on #2
This would be very nice. The issue we ran into is that if you put `tox-poetry-installer` in the dev-dependencies and install into a production environment (such as a Docker container) using `poetry install --no-dev`, because `tox-poetry-installer` depends on `poetry`, this would uninstall `poetry` itself since in a Docker container, there is typically no need for a separate virtual environment for

[2020-10-23 15:58] enpaul commented on #2
@johnthagen As a workaround for the issue I believe that installing poetry using the [get-poetry script](https://python-poetry.org/docs/#osx-linux-bashonwindows-install-instructions) will prevent it from uninstalling itself from the project environment. I haven't tested this exact scenario, but I had a similar issue in a docker build where my poetry installation existed alongside my project instal

[2020-10-23 16:26] johnthagen commented on #2
@enpaul Thanks, I suspected something like that would help as well.

[2020-10-24 14:57] enpaul commented on #2
Taking another look at this one. The main blocker here is definitely the lockfile support in poetry-core. Parsing and handling lockfile conditions is something I would really like to avoid having to reimplement for this plugin.

That said the other blocker I highlighted above (pip installation support) is something I think we can work around. Poetry is MIT licensed so I think the `PipInstaller` cl

[2020-10-24 15:08] johnthagen commented on #2
Yes, I totally agree with this. I'd never want to ask a package like this to reimplement something that should otherwise be shared with `poetry`. We have working work-arounds and understand the `poetry` ecosystem still has a little maturing to do.

Thanks!

[2020-10-26 14:52] johnthagen opened #17 "Infinite recursion installing mkdocs-material from lockfile"
[code]

[code]

<details><summary>poetry.lock</summary>

[code]

</details>

[code]

[2020-10-27 13:31] enpaul commented on #17
@johnthagen Can you confirm which version of the plugin you're using? `0.3.0` had some pretty egregious bugs in it that should be fixed in `0.3.1`

[2020-10-27 15:11] johnthagen commented on #17
@enpaul This is the environment in `.tox/.tox` that is created using `required`

[code]

[2020-10-28 13:06] johnthagen opened #18 "Testenv virtual environments are always recreated even if dependencies have not changed"
The envs are recreated each time, which causes subsequent runs to be just as slow as the initial run, rather than skipping installation as is typical with `tox`. This makes it difficult to use in a `pre-commit` situation, due to how long the delay is before `tox` commands complete.

[code]

With `require_locked_deps = true`:

[code]

When set to `false`:

[code]

### Config

[code]

[code]

<detai

[2020-10-28 15:14] enpaul commented on #18
For the moment this is actually an intentional design choice. I'm not yet sure what the best way to tell when the lockfile has changed is. Since the plugin can't accurately detect dependency changes in the lockfile the safest option is to always reinstall all dependencies for an environment just in case.

That said, this is a pretty serious efficiency hit. I'm still thinking about what the best wa

[2020-10-28 15:22] johnthagen commented on #18
@enpaul Since `tox` already has the [`recreate` flag](https://tox.readthedocs.io/en/latest/config.html#conf-recreate), I'd personally leave it up to the end user to either set this if they always want to recreate, or manually specify it on the command line for a specific run: `tox --recreate -e fmt`.

This is a bigger issue for `tox`, as this is already a problem if you use `requirements.txt` file

[2020-10-29 21:28] #14 closed

[2020-10-29 21:33] enpaul opened #20 "Replace "Usage examples" section with "Configuration reference" section"
The [Usage Examples](https://github.com/enpaul/tox-poetry-installer#usage-examples) section of the docs is going to become more difficult to maintain as more config options are added (such as recommended in #19 and #6). The existing [Why would I use this?](https://github.com/enpaul/tox-poetry-installer#why-would-i-use-this) and [Quick Start](https://github.com/enpaul/tox-poetry-installer#quick-sta

[2020-10-29 22:02] enpaul commented on #18
Did some research on this, and I think it's going to require the addition of a new hook implementation, specifically [`tox_configure`](https://github.com/tox-dev/tox/blob/master/src/tox/hookspecs.py#L13). I believe that this is invoked before the venv dependency check is done [here](https://github.com/tox-dev/tox/blob/b5ff4dc6b576e83818bef74d5f66d4e01913a858/src/tox/venv.py#L247) and so can be use

[2020-10-29 22:05] enpaul commented on #17
This one will be relatively simple to solve, but requires a refactor of how the plugin determines dependencies recursively. New approach should be to build up a single master list of all transients and check whether a given dependency is already in the list before launching into the recursive `find_deps_of_dep()` call.

This is going to go well with a larger refactor I need to do to split the plug

[2020-11-12 05:26] #17 closed

[2020-11-12 23:19] #18 closed

[2020-11-13 00:42] #20 closed

[2020-11-13 02:14] #13 closed

[2020-11-16 13:35] johnthagen commented on #18
@enpaul Just wanted to say our team updated to 0.5.0 and everything is running great! You've solved all of the issues we were running into and everything runs smoothly.

Thanks!

[2020-11-16 16:10] enpaul commented on #18
@johnthagen Awesome! Glad to hear it's working well for you guys, and thank you for all your suggestions and feedback on this project!

[2020-11-17 00:04] enpaul commented on #6
Another note about this one: the solution I proposed in the original issue actually won't work entirely as I hoped. Modifying the env dependencies on the tox environment will cause the same problem that #18 aimed to fix. Since the as-written dependencies won't match the as-installed (from tox's perspective) it will always trigger a recreate action.

I'm not sure what the best course of action is h

[2020-11-26 18:51] enpaul opened #28 "Plugin does not respect python requiement markers"
The `dataclasses` package does not support Python-3.7 and newer. This is properly marked in the Poetry lockfile (sample below) but is not respected by the plugin. I suspect that this is because the plugin does not properly make use of python version requirements, as that logic is in the Poetry resolver classes and not in the pip installer class.

The fix for this is to check the expected python ve

[2020-11-26 20:08] #28 closed

[2020-12-05 19:19] #3 closed

[2020-12-05 23:37] #5 closed

[2020-12-05 23:37] #6 closed

[2020-12-05 23:52] enpaul commented on #5
This feature was determined to be out of scope. Tox does not provide a way to distinguish between a setting that is _not_ set in the config and as simply taken on the default value and a setting that _is_ set in the config. In addition, because there is no programatically accessible reference of Tox's configuration settings, these values can't be computed by comparing existing config values to the

[2020-12-05 23:57] enpaul commented on #6
This issue was determined to be out of scope for this plugin and will not be implemented.

Ultimately this plugin is trying to bridge the functionality of Tox and Poetry, and Poetry does not support installing these packages while Tox does. It's personally frustrating because conflicts with these packages have given me problems before, but it's not reasonable to reimplement package installation lo

[2020-12-16 16:42] zachtaira opened #33 "setuptools prevents installation of packages that should be installable"
Hello!
First of all, thank you so much for writing this. It's great: it requires very minimal tox.ini changes, and the changes that are necessary are well-documented and straightforward. :+1:

**Problem:**
Occasionally, tox-poetry-installer cannot install some locked dependencies that have `setuptools` is a subdependency.

**Expected result:**
Setuptools is skipped, and tox-poetry-installer contin

[2020-12-17 01:37] #33 closed

[2021-01-09 12:29] bastienboutonnet opened #35 "AttributeError: 'Config' object has no attribute 'isolated_build_env'"
I'm getting the following error when calling `tox`:

[code]

my tox config looks like this:
[code]

Am I potentially doing something bad in my config? I tried looking for similar error messages but couldn't find anything with `isolated_build_env` in there.

[2021-01-09 17:26] enpaul commented on #35
@bastienboutonnet Thanks for reporting this error! Could you share what version of tox and what version of the plugin you're using?

[2021-01-09 20:24] bastienboutonnet commented on #35
Thanks for the quick reply @enpaul and yes of course I can. Stupid of me not to have done so before...
[code]

I managed to get it working a week or so ago, but I can't recall if I upgraded some packages in the meantime or no. Could have been the case.

[2021-01-09 23:06] enpaul commented on #35
@bastienboutonnet Thank you! I notice you're using tox 3.21 there, which was just released a few days ago. I haven't had a chance to test the plugin with 3.21 yet so I'm not sure if it works properly. If it doesn't then it's possible there's a bug in tox itself, but I'm not sure. I should be able to take a look at reproducing this bug either tomorrow or Monday evening, but my first instinct would

[2021-01-10 10:37] bastienboutonnet commented on #35
Hi again @enpaul downgrading to `3.20.0` did the trick so it looks like somewhere between 3.20 and 3.21 something might have "broken".

I'll keep watching this issue as I'm curious to know when I might be able to use the latest version of tox (not that I need anything in 3.21 but I like to stay up to date with most packages).

[2021-01-11 16:44] johnthagen opened #36 "Add a Changelog"
It would be very helpful if there was a changelog that noted the various fixes and changes for the past few releases and new ones going forward.

Thanks!

[2021-01-11 17:50] enpaul commented on #36
Good suggestion @johnthagen! I try to document the changes made in each release in the [github releases](https://github.com/enpaul/tox-poetry-installer/releases) themselves, but I know that can be a pain to parse. I'll work on putting together a dedicated changelog file.

[2021-01-11 20:52] johnthagen commented on #36
Ah, I had forgotten about the GitHub releases section. Yeah, perhaps that content could be mirrored into a `CHANGELOG.md` in the repo or similar.

[2021-01-17 02:33] #36 closed

[2021-01-17 14:01] johnthagen commented on #2
@enpaul FYI, on the main README this is checked as complete, even though it looks like actually it was just deferred until the stable release.

[2021-01-20 20:57] enpaul commented on #2
Ah, good catch @johnthagen . I'll update the readme

[2021-01-22 10:07] brechtm opened #37 "LockedDepNotFoundError even though the dependency is in the lock file"
I'm [trying out tox-poetry-installer on my project](https://github.com/brechtm/rinohtype/tree/wip/tox-poetry-installer), but I'm running into an issue:

[code]

As far as I can see, _rinoh-typeface-texgyrecursor_ is listed in the lock file. Perhaps the fact that this package also specifies my package under test as a dependency is relevant?

[2021-01-22 23:13] enpaul commented on #37
Thank you for reporting this! This is indeed a bug with the dependency resolution processing. Because the package under test isn't actually in the lockfile it causes a `KeyError` when the plugin attempts to find the dependency of `rinoh-typeface-texgyrecursor`, which the plugin incorrectly interpolates into a `LocedDepNotFoundError`.

Having the package under test be a dependency of a locked depen

[2021-01-23 00:06] enpaul commented on #35
Taking a closer look at this, I'm actually not convinced this is a problem with `3.21.x`. I was just able to repro it on `3.20.1`. I think the problem is actually related to the usage of the Tox `requires` option. I believe the `.tox` environment (the provisioned env Tox creates for itself when using either `requires` or `minversion`) does not populate the `isolated_build_env` setting in its confi

[2021-01-23 00:27] #35 closed

[2021-01-23 00:27] #37 closed

[2021-01-23 00:46] enpaul commented on #37
@brechtm When you get a chance can you try updating to `tox-poetry-installer 0.6.2` and see if the problem persists? That bugfix release should address the problem you're seeing here.

[2021-01-23 00:48] enpaul commented on #35
@bastienboutonnet Thanks for your patience while I got this figured out! The recent `tox-poetry-installer 0.6.2` update should fix this problem. When you get a chance could you try updating and see if that fixes the issue?

[2021-01-24 14:24] brechtm commented on #37
It's working for me now. Thanks for the quick fix! ❤️
Now I can finally make use of GitHub's dependabot!

[2021-01-27 20:24] bastienboutonnet commented on #35
Hi @enpaul thanks a lot for following up! I upgraded both tox and tox-poetry-installer and it all seems to work 🥳

[2021-01-29 17:30] enpaul opened #40 "Update hook reference to use recommended access pattern"
Currently the Tox plugin hooks are implemented by importing `hookimpl` directly from the `tox` module like below:

[code]

However the [Tox plugin documentation](https://tox.readthedocs.io/en/latest/plugins.html#tutorial-a-minimal-tox-plugin) specifies that plugins should import `pluggy` directly like the below example:

[code]

I'm not exactly clear on what the functional difference is between th

[2021-02-04 21:15] tizz98 opened #41 "Installation does not properly take into account sub-dependencies"
Reproduce repo: https://github.com/tizz98/tox-poetry-installer-bug-repro

## How to reproduce

_Ensure you have `poetry==1.1.4` installed_

[code]

### Expected result

Pytest should run the tests.

[code]

### Error

[code]

or

[code]

### Explanation

The `ipython` package is a sub-dependency of `ipypandex` and when installing with `poetry` regularly it works fine because sub-dependencies are i

[2021-02-04 23:17] enpaul commented on #41
Thank you for the very comprehensive bug report and reproducer! I'll definitely work on getting this fixed.

After taking a quick look at the reproducing repository you linked, I've found a work around that also informs what may be happening under the hood. By setting `ipypandex` as an explicit item in `locked_deps` rather than relying on the `install_dev_deps` option the installation worked as ex

[2021-02-10 01:35] enpaul commented on #40
Seems this is actually incorrect. The [official pluggy docs on the subject](https://pluggy.readthedocs.io/en/latest/#the-plugin) indicate that the current `from tox import hookimpl` is the correct approach for plugins.

[2021-02-10 01:35] #40 closed

[2021-02-10 05:19] #41 closed

[2021-02-10 05:37] enpaul commented on #41
@tizz98 I just uploaded version 0.6.3 which should fix this bug (the updated version worked as expected using your test repo, thank you very much for providing that!) When you have a chance could you update your version of the plugin to see if the problem is solved?

[2021-02-10 16:24] tizz98 commented on #41
Yep, this issue is fixed, thanks! Although I ran into another unrelated issue, so I'll create a new issue for that. Thanks for the responsiveness :pray:

[2021-02-10 16:26] tizz98 opened #43 "Installation tries to install packages not meant for OS"
tl;dr: this library is trying to install `pywin32` even on linux/mac which won't work.

## How to reproduce

_Ensure you have `poetry==1.1.4` installed_

[code]

### Expected result

Pytest should run the tests.

[code]

### Error

[code]

### Explanation

The `pywin32` package is a subdependency of `jupyter-core` which is a subdependency of `nbformat`. When looking at the `poetry.lock` file, ther

[2021-02-10 16:35] enpaul commented on #43
I actually just ran into this same problem with the plugin on an internal project as well. This is definitely a bug somewhere and I'll look into it. Thanks for the report!

[2021-02-16 03:36] #43 closed

[2021-02-16 15:57] enpaul commented on #43
@tizz98 When you have some time could you try updating to the new `0.6.4` release and see if it fixes the issue? That update has a full rewrite of the core dependency resolution logic to more closely rely on Poetry's compatibility specifications that should fix this problem.

[2021-02-16 16:35] tizz98 commented on #43
looks good to me, thanks!

[2021-03-03 13:17] brechtm opened #45 "0.6.4 breaks Python 3.10 compatibility"
Since upgrading tox-poetry-installer to 0.6.4, my Python 3.10 runs started failing:

- 0.6.2 good: https://github.com/brechtm/rinohtype/runs/2021425595?check_suite_focus=true
- 0.6.4 bad: https://github.com/brechtm/rinohtype/runs/2020577839?check_suite_focus=true

I've tested locally with 0.6.3 and that version works fine.

From the logs, it's not immediately obvious to me what the issue is.

[2021-03-08 16:41] enpaul commented on #45
@brechtm Can you share the exact version of 3.10 you're using for that run? Since it's still in alpha I want to make sure I can replicate it exactly.

This may also be an issue with an upstream, possibly pip or poetry. If you have a moment could you try running tox locally in a poetry environment that uses the same release of 3.10 as the run? I can also work on running that same test.

[2021-03-12 08:22] brechtm commented on #45
The version is listed in that build log, under "Install Python 3.10.0-alpha - 3.10": 3.10.0-alpha.5.

[2021-03-15 12:59] brechtm commented on #45
Locally, I tried with 3.10-dev installed today using pyenv (`python3.10 --version` reports _3.10.0a6+_). This fails with a different error:
[code]

0.6.3 show no issues executing the same test environment.

I'm migrating from tox to nox (but certainly not because of tox-poetry-installer!), so I won't be putting more time into investigating this issue I'm afraid.

[2021-03-18 16:12] enpaul commented on #45
Excellent, thank you for the additional diagnostic info! I'll work on taking a look at this, I suspect it might be due to an upstream library but I need to confirm that. Thanks for reporting the bug!

[2021-04-17 23:07] Palisand opened #51 "How to disable unsafe packages skipped warning?"
Is there a way to disable these sorts of warnings?

[code]

[2021-04-19 15:37] enpaul commented on #51
No, sorry, there isn't any way to disable these error messages.

[2021-04-19 15:47] #51 closed

[2021-04-19 23:42] enpaul opened #52 "Move require-poetry option to the tox config"
The `--require-poetry` runtime option makes more sense as a config option. A given config is more likely to need poetry to run properly than a given run of tox is.

The `--require-poetry` option should be renamed to `require_poetry` and added to the `envconfig` object, with a default value of `False`.

The `--require-poetry` option should be kept, but if it is used then a deprecation message shoul

[2021-04-20 00:27] enpaul opened #53 "Add option to disable installation of project dependencies from the lockfile"
Envs should have a configuration option that controls whether the dependencies of the package under test are installed to the environment. This should be checked independently of the `skip_install` and `skipsdist` built-in tox options. I can't imagine a real use case for this option, but it's the one part of the plugin's functionality that can't be configured when the plugin is installed, so it fe

[2021-04-20 00:33] enpaul opened #54 "Add integration tests"
A series of integration tests should be added (in addition to the unit tests already present). The goal of the integration tests is to validate the integration with Tox, since that component of the program can't be adequately tested via unit tests because Tox is not directly imported anywhere.

Emphasis of the integration tests should be on the various config options having the intended effects an

[2021-04-20 03:37] #52 closed

[2021-04-27 20:27] denizdogan opened #58 "Usage with envlist?"
How is this meant to be used with envlist? I'm not sure I fully understand the purpose of this project, but I have this in my tox.ini:

[code]

The idea is to use a build Matrix with Python 3.7-3.9 and Django 2.0-3.2, you get the idea. However, when I use this plugin, it always installs Django 3.2 because that's what's in my lockfile.

So maybe I *am* misunderstanding the purpose of the project, I

[2021-04-28 01:34] enpaul opened #59 "Add docs for usage with variable dependencies in a matrix"
The below is a fairly typical setup used to test compatibility with multiple versions of a package:
[code]
This use case is supported and can exist alongside the plugin being installed. A section should be added to the **Other Notes** section explaining how.

(In the meantime see #58)

[2021-04-28 01:34] enpaul commented on #58
Hi @denizdogan, this is an excellent question and a use case I've been meaning to add to the documentation.

The main purpose of this project is to eliminate problems in your project's tests that are caused by subtle variations in dependency versions. For example, if your project requires `foobar>=1.2,<2.0` then poetry will identify the latest compatible version (lets say `1.2.3`) and save that ve

[2021-04-28 09:26] denizdogan commented on #58
@enpaul Thanks for your detailed explanation, much appreciated!

This is a good reminder for me to always include the full configuration even though it may seem unnecessary at a first glance. My issues arose from having this further down in my tox.ini file:

[code]

So removing that one `poetry install -v` line fixed my problems. Thanks again for taking the time!

[2021-04-28 09:26] #58 closed

[2021-05-06 02:25] #53 closed

[2021-06-14 19:27] johnthagen opened #61 "Unable to install project deps with skipsdist = true"
Using the following project:

[code]

[code]

Creating the testenv does not install the project dependencies (in this case `httpie`):

[code]

The README for this project says that `install_project_deps` defaults to `True`. Even setting it manually does not install them.

[2021-06-14 19:31] johnthagen commented on #61
This seems to work if `skipsdist = true` is removed.

The problem is that some Python projects are applications, so there is no source distribution. But for testing under tox, they wish to install their project dependencies into `testenv`'s in order to run unit tests.

[2021-06-17 02:36] #61 closed

[2021-06-17 02:50] enpaul commented on #61
@johnthagen For more context on this fix I'd recommend reading the [notes here](https://github.com/enpaul/tox-poetry-installer/blob/devel/tox_poetry_installer/hooks.py#L26). The TL;DR is that this issue is due to a poor design decision on my part that I'll fix (in a breaking way) in the 1.0.0 release.

[2021-06-17 12:05] johnthagen commented on #61
@enpaul Thanks! I appreciate the work-around and I think the tri-state setting makes sense.

Do you think that you should also update the README so that users know about the change to `install_project_deps`?

https://github.com/enpaul/tox-poetry-installer#configuration-options

[2021-06-17 14:17] enpaul commented on #61
:facepalm: yes it definitely is worth updating the readme. Completely forgot to do that, thanks!

[2021-06-22 18:04] johnthagen commented on #61
@enpaul I tried out 0.8.1 and confirm it works as expected. Thanks!

[2021-09-17 03:02] Dekker1 opened #64 "Support dependency groups"
The latest alpha release of Poetry (1.12.0a2) supports the usage of [depedency groups](https://python-poetry.org/docs/master/managing-dependencies/#dependency-groups), added by this [PR](https://github.com/python-poetry/poetry/pull/4260). For my use case these groups are able to resolve solve problems within my CI setup, but they do not work with the current version of `tox-poetry-installer`. My q

[2021-09-17 14:36] enpaul commented on #64
Hello! Yes, dependency groups are one of my personal most anticipated features in Poetry 1.2 and this plugin will absolutely include support for them once a stable 1.2 is released. I was planning to start work on an implementation once 1.2 entered beta.

As for the import problem you noticed, is this using a currently released version of poetry/poetry core or an alpha/beta version?

[2021-09-18 02:37] Dekker1 commented on #64
The import problem is just when switching over the the alpha poetry build (I thought I should just try it and see what happens with this package). It looks like the accompanying alpha build of `poetry-core` no longer allows imports directly from the `poetry.core.packages` path (caused by [this PR](https://github.com/python-poetry/poetry-core/pull/131)). Importing directly from the individual files

[2021-09-21 18:28] enpaul opened #65 "Plugin dumps a traceback when an unsafe dependency is a direct dependency of the package under test"
Creating a package with a direct dependency on `setuptools` dumps a traceback and causes the plugin to fail:

<details>
    <summary>Traceback</summary>
[code]
</details>

Looking over the handling of unsafe dependencies in the code, it looks like it doesn't handle the case of an unsafe dependency being a direct dependency of the package under test; the unsafe dependency being a toxenv dependency

[2021-11-21 15:20] jedie opened #66 "ModuleNotFoundError: No module named 'poetry.core'"
e.g.: https://github.com/jedie/django-tools/runs/4278961704?check_suite_focus=true

[2021-11-22 17:28] enpaul commented on #66
Hi @jedie, thanks for using this project! It looks like you're using an older version of tox-poetry-installer [here](https://github.com/jedie/django-tools/runs/4278961704?check_suite_focus=true#step:5:208). Could you try updating to the latest version and see if that pipeline still encounters this problem?

[2021-11-22 18:02] jedie commented on #66
Sorry, i removed "tox-gh-actions" from my project and use "tox-poetry" ... this works fine...

Maybe the trouble was a result of the support of python 3.6 ?!? See: https://github.com/jedie/django-tools/compare/v0.48.3...v0.49.0#diff-50c86b7ed8ac2cf95bd48334961bf0530cdc77b5a56f852c5c61b89d735fd711L38

[2021-11-22 18:56] enpaul commented on #66
Very sorry this plugin wasn't able to help you with your project. I'm unable to view the link you posted (github says there's nothing to compare), but if you end up giving `tox-poetry-installer` a try again in the future and still run into problems then please let me know.

[2021-11-22 18:56] #66 closed

[2022-01-05 07:05] enpaul commented on #45
Given that I can't repro this anymore using 0.8.x I'm going to close this issue

[2022-01-05 07:05] #45 closed

[2022-03-05 02:01] tasansal commented on #64
Any luck with this? I just switched to the Poetry 1.2 version but can't run tox tests.

Would be interested in a workaround too!

Thanks for the support!

[2022-03-09 16:42] enpaul commented on #64
@tasansal Sorry, I haven't had the time to work on this feature yet. I'm hoping to have some time to work on this in the next few weeks.

I'd also be happy to accept a PR for this feature. I'll try to pull some thoughts together on how I think it should be implemented so if someone wants to PR the change they have something to go off of.

[2022-03-11 16:59] GrimHacker opened #68 "dev-dependencies not installing on python2"
I'm trying to use `tox-poetry-installer` to support testing my py2/3 library with `tox` but the dev dependencies are apparently not installing under py2 when run via `tox` (but do when using `poetry`).

I know Python 2.7 has been dead for over 2 years (the requirement to continue support for it at the moment is out of my hands), but since the dependencies install correctly using `poetry` I think i

[2022-03-15 15:02] enpaul commented on #68
Hi @GrimHacker thanks for reporting this issue! I agree that supporting installing py2 dependencies should be a goal, even if native support for running on py2 is not (the same way the main poetry project supports it).

I notice you don't add `tox` to the demo project lockfile. Could you share the exact versions of `tox` that you're using? Also, could you check which version of python tox's bootst

[2022-03-15 15:25] GrimHacker commented on #68
Hi @enpaul

[code]
[code]

[code]

I believe i installed `tox` with `python3.8 -m pip install tox` (on Ubuntu 18.04) and run I run it with `python3.8 -m tox`. I didn't add it to the `pyproject.toml` or `poetry.lock` since I thought that would create a "chicken and egg problem".

I'm new to poetry and using it sensibly in proximity to tox to test under multiple python versions does not seem to be p

[2022-04-07 04:08] enpaul commented on #68
Hi @GrimHacker I'm so sorry for the delay on this (my day job has been very hectic recently) but I finally have a patch up for this problem [here](https://github.com/enpaul/tox-poetry-installer/pull/69). When you get a chance could you take a look at it and let me know if it solves the problem you encountered?

Also as a suggestion for your local environment: I would actually recommend adding both

[2022-04-07 04:09] enpaul commented on #54
I'm considering this solved. The test suite for this package uses the local version of the package itself for provisioning its own test environment. I'm not sure I could write a better integration test than that.

[2022-04-07 04:09] #54 closed

[2022-04-08 11:28] GrimHacker commented on #68
Unfortunately it doesn't look like I can add `tox-poetry-installer` to `pyproject.toml` since it doesn't support py2.

`pyproject.toml`:
[code]

[code]

----

I don't seem to be easily able to make tox requires build and install tox-poetry-installer from the git branch either.

[2022-04-08 15:40] enpaul commented on #68
Sorry @GrimHacker , I should've clarified: to add `tox-poetry-installer` to your project you'll need to specify that it's only going to be installed when using a python3 development environment.

You can do this in the pyproject like this:
[code]

The docs for this functionality are [here](https://python-poetry.org/docs/dependency-specification/#python-restricted-dependencies)

[2022-04-25 23:33] #68 closed

[2022-04-25 23:42] enpaul commented on #68
@GrimHacker I've merged #69 and closed this issue for now, but if you update to the new version with the bugfix (`0.8.4`) and are still having problems please feel free to re-open this issue and I'll take another look at it.

[2022-07-07 16:03] aha79 opened #71 "Private repository with credentials"
I have a poetry project with packages from a private repository. With poetry alone it works as expected, but tox-poetry-installer emits the warning

"WARNING: tox-poetry-installer: Skipping XXXX: no locked version found compatible with target python version 3.7.9"

for the packages XXXX in the private repo.

Despite what it says it seems not to be a problem with the python version. The warning is

[2022-08-23 19:13] ejd opened #72 "`poetry export --with-credentials` fails under tox with tox-poetry-installer"
I used `poetry config http-basic.private-index __token__ TOKEN` to store credentials for a private package index.  I have a tox testenv that runs `poetry export --with-credentials` to generate a requirements file.  When the testenv runs `poetry export --with-credentials` under tox, it prints the following message:

[code]

The resulting output contains the username part of the index credentials bu

[2022-08-31 06:55] finswimmer opened #73 "tox-poetry-installer crashes due to import error"
Hey,

we released `poetry`1.2.0 and `poetry-core` 1.1.0 today :tada: Unfortunately this breaks `tox-poetry-installer` due to changed import paths.

Most of them can be fixed easily:

https://github.com/enpaul/tox-poetry-installer/blob/b3a5e869acf3fc63cb45bec42d34e36137f073b2/tox_poetry_installer/installer.py#L12

[code]

and

https://github.com/enpaul/tox-poetry-installer/blob/b3a5e869acf3fc63cb45

[2022-09-02 22:32] MarximusMaximus opened #74 "A way to emulate usedevelop=false? (i.e. install as wheel)"
Is there a way to emulate how tox works when `usedevelop` is false? (It builds a wheel and installs it the "normal" way.)

Some of my integration tests rely on verifying that things work properly when my package is installed "normally" as opposed to as "source/develop". (Primarily b/c the way to get certain reflection data is different between installed as a package vs installed as source/develop.

[2022-09-06 19:11] enpaul commented on #71
Hi @aha79 so sorry about the delay in dealing with this. If you're still encountering this problem, could you please share the verbose log output from a tox run where you encounter this error? You can run `tox -vvv` to get the verbose output

[2022-09-06 21:03] enpaul commented on #74
@MarximusMaximus I'm not 100% sure I understand what you mean by "installing it the normal way", are you referring to doing a PEP 517 wheel build and installing with Pip? If so, you can emulate this behavior like below:

[code]

What this does:
* The [`skip_install`](https://tox.wiki/en/latest/config.html#conf-skip_install) option tells Tox to not install the package-under-test (or any of it's dep

[2022-09-06 21:05] enpaul commented on #73
Thanks for the report @finswimmer

I've just released version 0.8.5 which pins the Poetry requirement at less than 1.2 to back stop this issue in the immediate time frame. @Callek has a PR up to add support for Poetry 1.2 that I'll be looking at next to hopefully get this functionality added soon

[2022-09-06 21:09] Callek commented on #73
My pr pins to an alpha of poetry 1.2, but happy to bump that to the final release depending on Ethan's opinion here.

Mostly just blocked on his time

[2022-09-07 05:35] MarximusMaximus commented on #74
Ah! I see, yes, this would work, and I could use the -e flag to explicitly do the envs where I need it to be not a wheel install. Thank you! I've had to switch some things around while using poetry 1.2.0 and pytest 7.1.3, so I cannot test this right now, unfortunately.

[2022-09-07 05:35] #74 closed

[2022-09-07 20:22] enpaul commented on #73
This issue should now be resolved by #70 , thanks to @Callek

[2022-09-07 20:22] #73 closed

[2022-09-10 21:09] ejd commented on #72
This isn't an issue with tox-poetry-installer.  I found https://github.com/jaraco/keyring/issues/283 which explains that I need to have the following in the `testenv` that does `poetry export`:

[code]

Otherwise, keyring can't connect to the dbus session.

Sorry for the confusion!

[2022-09-10 21:09] #72 closed

[2022-09-15 11:19] oshmoun commented on #64
PR #76 should add support for this, though I'm not sure if it is in-line with how support for Poetry groups was planned to be implemented. Please let me know if you would like it done differently.